# Gráficos para análise das transações feitas

## Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
from extrair_dados import exibir_dados_transacoes

## Definindo o Data Frame

In [2]:
dfTransacoes = exibir_dados_transacoes()
dfTransacoes

c:\Users\pedro\Documents\Estudos\Projetos\analise-transacoes-bancarias\analise\extrair_dados.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dfTransacoes = pd.read_sql(query, conn)

,Id,RemetenteId,DestinatarioId,Quantia,DataHora,Tipo
0,1,2,NaN,500.00,2024-01-05 10:30:00,DepÃ³sito
1,2,2,3.0,100.50,2024-01-07 14:15:00,PIX
2,3,3,NaN,200.00,2024-01-10 09:45:00,Saque
3,4,4,5.0,300.75,2024-01-12 16:20:00,TransferÃªncia
4,5,5,NaN,150.00,2024-01-15 11:00:00,DepÃ³sito
...,...,...,...,...,...,...
95,96,2,6.0,150.75,2025-03-12 12:15:00,TransferÃªncia
96,97,6,NaN,400.00,2025-04-01 08:30:00,DepÃ³sito
97,98,9,12.0,600.25,2025-04-03 13:00:00,PIX
98,99,12,NaN,200.60,2025-04-05 09:15:00,Saque
99,100,15,4.0,500.00,2025-04-07 14:30:00,TransferÃªncia

## Arrumando a coluna tipo

In [3]:
dfTransacoes["Tipo"] = dfTransacoes["Tipo"].str.encode("latin1").str.decode("utf-8")
dfTransacoes

,Id,RemetenteId,DestinatarioId,Quantia,DataHora,Tipo
0,1,2,NaN,500.00,2024-01-05 10:30:00,Depósito
1,2,2,3.0,100.50,2024-01-07 14:15:00,PIX
2,3,3,NaN,200.00,2024-01-10 09:45:00,Saque
3,4,4,5.0,300.75,2024-01-12 16:20:00,Transferência
4,5,5,NaN,150.00,2024-01-15 11:00:00,Depósito
...,...,...,...,...,...,...
95,96,2,6.0,150.75,2025-03-12 12:15:00,Transferência
96,97,6,NaN,400.00,2025-04-01 08:30:00,Depósito
97,98,9,12.0,600.25,2025-04-03 13:00:00,PIX
98,99,12,NaN,200.60,2025-04-05 09:15:00,Saque
99,100,15,4.0,500.00,2025-04-07 14:30:00,Transferência

## Arrumando o nome das colunas